
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_code"
                       jhiTranslate="nextlogixApp.masterForm.code">Code:</label>
                <div class="col-md-4">
                    
                    <input type="text" class="form-control" name="code" id="field_code"
                           [(ngModel)]="masterFormSearch.code" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_note"
                       jhiTranslate="nextlogixApp.masterForm.note">Note:</label>
                <div class="col-md-4">
                    
                    <input type="text" class="form-control" name="note" id="field_note"
                           [(ngModel)]="masterFormSearch.note" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_receiveTime"
                       jhiTranslate="nextlogixApp.masterForm.receiveTime">Receive Time:</label>
                <div class="col-md-4">
                    
                    <div class="d-flex">
                        <input id="field_receiveTime" type="datetime-local" class="form-control" name="receiveTime" [(ngModel)]="masterFormSearch.receiveTime"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_isActive"
                       jhiTranslate="nextlogixApp.masterForm.isActive">Is Active:</label>
                <div class="col-md-4">
                    
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           [(ngModel)]="masterFormSearch.isActive" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_province"
                       jhiTranslate="nextlogixApp.masterForm.province">>Province:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="masterFormSearch.provinceId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_district"
                       jhiTranslate="nextlogixApp.masterForm.district">>District:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_district" name="district" [(ngModel)]="masterFormSearch.districtId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="districtOption.id" *ngFor="let districtOption of districts; trackBy: trackDistrictById">{{districtOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.masterForm.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="masterForms">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="code"><span jhiTranslate="nextlogixApp.masterForm.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="note"><span jhiTranslate="nextlogixApp.masterForm.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="receiveTime"><span jhiTranslate="nextlogixApp.masterForm.receiveTime">Receive Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="imageFile"><span jhiTranslate="nextlogixApp.masterForm.imageFile">Image File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="isActive"><span jhiTranslate="nextlogixApp.masterForm.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="provinceId"><span jhiTranslate="nextlogixApp.masterForm.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="districtId"><span jhiTranslate="nextlogixApp.masterForm.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let masterForm of masterForms ;trackBy: trackId">
                    <td><a [routerLink]="[ masterForm.id,'view']">{{masterForm.id}}</a></td>
                    <td>{{masterForm.code}}</td>
                    <td>{{masterForm.note}}</td>
                    <td>{{masterForm.receiveTime | date:'medium'}}</td>
                    <td>
                        <a *ngIf="masterForm.imageFile" (click)="openFile(masterForm.imageFileContentType, masterForm.imageFile)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="masterForm.imageFile">{{masterForm.imageFileContentType}}, {{byteSize(masterForm.imageFile)}}</span>
                    </td>
                    <td>{{masterForm.isActive}}</td>
                    <td>
        <div *ngIf="masterForm.provinceId">
        <a [routerLink]="['../province', 'detail',masterForm.provinceId ]" >{{masterForm.provinceDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="masterForm.districtId">
        <a [routerLink]="['../district', 'detail',masterForm.districtId ]" >{{masterForm.districtDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[masterForm.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[masterForm.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(masterForm.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="masterForms && masterForms.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


