
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.masterForm.detail.title">Master Form</span> {{masterForm.id}}
    </div>
    <div class="card-body">

<div *ngIf="masterForm">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.masterForm.code">Code</span></dt>
        <dd>
            <span>{{masterForm.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.masterForm.note">Note</span></dt>
        <dd>
            <span>{{masterForm.note}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.masterForm.receiveTime">Receive Time</span></dt>
        <dd>
            <span>{{masterForm.receiveTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.masterForm.imageFile">Image File</span></dt>
        <dd>
            <div *ngIf="masterForm.imageFile">
                <a (click)="openFile(masterForm.imageFileContentType, masterForm.imageFile)" jhiTranslate="entity.action.open">open</a>
                {{masterForm.imageFileContentType}}, {{byteSize(masterForm.imageFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.masterForm.isActive">Is Active</span></dt>
        <dd>
            <span>{{masterForm.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.masterForm.province">Province</span></dt>
        <dd>
            <div *ngIf="masterForm.provinceId">
                <a [routerLink]="['/province', masterForm.provinceId]">{{masterForm.provinceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.masterForm.district">District</span></dt>
        <dd>
            <div *ngIf="masterForm.districtId">
                <a [routerLink]="['/district', masterForm.districtId]">{{masterForm.districtId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'master-form', masterForm.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
