


<form name="editForm" role="form" class="form-horizontal" novalidate (ngSubmit)="save()" #editForm="ngForm">
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotationCod.home.createOrEditLabel">Create or edit a Quotation Cod</strong>
    </div>
    <div class="card-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quotationCod.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quotationCod.id" readonly />
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotationCod.amountFrom" for="field_amountFrom">Amount From</label>
                    <div class="col-md-4">
                    <input type="number" class="form-control" name="amountFrom" id="field_amountFrom"
                        [(ngModel)]="quotationCod.amountFrom" required/>
                    <div [hidden]="!(editForm.controls.amountFrom?.dirty && editForm.controls.amountFrom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amountFrom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amountFrom?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotationCod.amountTo" for="field_amountTo">Amount To</label>
                    <div class="col-md-4">
                    <input type="number" class="form-control" name="amountTo" id="field_amountTo"
                        [(ngModel)]="quotationCod.amountTo" required/>
                    <div [hidden]="!(editForm.controls.amountTo?.dirty && editForm.controls.amountTo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amountTo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amountTo?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotationCod.feeAmountMin" for="field_feeAmountMin">Fee Amount Min</label>
                    <div class="col-md-4">
                    <input type="number" class="form-control" name="feeAmountMin" id="field_feeAmountMin"
                        [(ngModel)]="quotationCod.feeAmountMin" required/>
                    <div [hidden]="!(editForm.controls.feeAmountMin?.dirty && editForm.controls.feeAmountMin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.feeAmountMin?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.feeAmountMin?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotationCod.feeAmount" for="field_feeAmount">Fee Amount</label>
                    <div class="col-md-4">
                    <input type="number" class="form-control" name="feeAmount" id="field_feeAmount"
                        [(ngModel)]="quotationCod.feeAmount" required/>
                    <div [hidden]="!(editForm.controls.feeAmount?.dirty && editForm.controls.feeAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.feeAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.feeAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotationCod.districtType" for="field_districtType">District Type</label>
                    <div class="col-md-4">
                    <select class="form-control" id="field_districtType" name="districtType" [(ngModel)]="quotationCod.districtTypeId"  required>
                        <option *ngIf="!editForm.value.districtType" [ngValue]="null" selected></option>
                        <option [ngValue]="districtTypeOption.id" *ngFor="let districtTypeOption of districttypes; trackBy: trackDistrictTypeById">{{districtTypeOption.name}}</option>
                    </select>
                    </div>
                </div>
                <div [hidden]="!(editForm.controls.districtType?.dirty && editForm.controls.districtType?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.districtType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotationCod.quotationParent" for="field_quotationParent">Quotation Parent</label>
                    <div class="col-md-4">
                    <select class="form-control" id="field_quotationParent" name="quotationParent" [(ngModel)]="quotationCod.quotationParentId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quotationOption.id" *ngFor="let quotationOption of quotations; trackBy: trackQuotationById">{{quotationOption.name}}</option>
                    </select>
                    </div>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <i class="fa fa-dot-circle-o"></i>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="reset" class="btn btn-danger" id="cancel-save" (click)="previousState()">
            <i class="fa fa-undo"></i>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
</form>
