
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationCod.detail.title">Quotation Cod</span> {{quotationCod.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationCod">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationCod.amountFrom">Amount From</span></dt>
        <dd>
            <span>{{quotationCod.amountFrom}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationCod.amountTo">Amount To</span></dt>
        <dd>
            <span>{{quotationCod.amountTo}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationCod.feeAmountMin">Fee Amount Min</span></dt>
        <dd>
            <span>{{quotationCod.feeAmountMin}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationCod.feeAmount">Fee Amount</span></dt>
        <dd>
            <span>{{quotationCod.feeAmount}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationCod.districtType">District Type</span></dt>
        <dd>
            <div *ngIf="quotationCod.districtTypeId">
                <a [routerLink]="['/district-type', quotationCod.districtTypeId]">{{quotationCod.districtTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationCod.quotationParent">Quotation Parent</span></dt>
        <dd>
            <div *ngIf="quotationCod.quotationParentId">
                <a [routerLink]="['/quotation', quotationCod.quotationParentId]">{{quotationCod.quotationParentId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-cod', quotationCod.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
