<div class="card" >
  <div class="card-header">
    <strong jhiTranslate="nextlogixApp.detailForm.home.title">Kết quả tìm kiếm</strong>
    <div class="card-header-actions">
      <button type="button" class="btn btn-primary btn-warning" (click)="createDetailForm()">
        <i class="fa fa-plus-circle"></i> Thêm
      </button>
    </div>
  </div>
  <div class="card-body">

    <div class="table-responsive" >
      <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" >
          <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="description"><span jhiTranslate="nextlogixApp.detailForm.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="createDate"><span jhiTranslate="nextlogixApp.detailForm.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="uploadFile"><span jhiTranslate="nextlogixApp.detailForm.uploadFile">Upload File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="isActive"><span jhiTranslate="nextlogixApp.detailForm.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="provinceId"><span jhiTranslate="nextlogixApp.detailForm.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="districtId"><span jhiTranslate="nextlogixApp.detailForm.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detailForm of detailForms ;trackBy: trackId">
          <td>{{detailForm.id}}</td>
          <td>{{detailForm.description}}</td>
          <td>{{detailForm.createDate | date:'medium'}}</td>
          <td>
            <a *ngIf="detailForm.uploadFile" (click)="openFile(detailForm.uploadFileContentType, detailForm.uploadFile)" jhiTranslate="entity.action.open">open</a>
            <span *ngIf="detailForm.uploadFile">{{detailForm.uploadFileContentType}}, {{byteSize(detailForm.uploadFile)}}</span>
          </td>
          <td>{{detailForm.isActive}}</td>

          <td>
            <div *ngIf="detailForm.provinceId">
              {{detailForm.provinceDTO?.name}}
            </div>
          </td>
          <td>
            <div *ngIf="detailForm.districtId">{{detailForm.districtDTO?.name}}
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">

              <button type="button" (click)="editDetailForm(detailForm.id)"
                      class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button type="button" (click)="deleteDetailForm(detailForm.id)"
                      class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
</div>
