
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationSubServices.detail.title">Quotation Sub Services</span> {{quotationSubServices.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationSubServices">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.amountFrom">Amount From</span></dt>
        <dd>
            <span>{{quotationSubServices.amountFrom}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.amountTo">Amount To</span></dt>
        <dd>
            <span>{{quotationSubServices.amountTo}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.feeAmountMin">Fee Amount Min</span></dt>
        <dd>
            <span>{{quotationSubServices.feeAmountMin}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.feeAmountMax">Fee Amount Max</span></dt>
        <dd>
            <span>{{quotationSubServices.feeAmountMax}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.feeAmount">Fee Amount</span></dt>
        <dd>
            <span>{{quotationSubServices.feeAmount}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.autoSelect">Auto Select</span></dt>
        <dd>
            <span>{{quotationSubServices.autoSelect}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.orderSubServicesType">Order Sub Services Type</span></dt>
        <dd>
            <div *ngIf="quotationSubServices.orderSubServicesTypeId">
                <a [routerLink]="['/order-sub-services-type', quotationSubServices.orderSubServicesTypeId]">{{quotationSubServices.orderSubServicesTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.orderSubServices">Order Sub Services</span></dt>
        <dd>
            <div *ngIf="quotationSubServices.orderSubServicesId">
                <a [routerLink]="['/order-sub-services', quotationSubServices.orderSubServicesId]">{{quotationSubServices.orderSubServicesId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationSubServices.quotationParent">Quotation Parent</span></dt>
        <dd>
            <div *ngIf="quotationSubServices.quotationParentId">
                <a [routerLink]="['/quotation', quotationSubServices.quotationParentId]">{{quotationSubServices.quotationParentId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-sub-services', quotationSubServices.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
