<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFileUploadLabel" jhiTranslate="nextlogixApp.fileUpload.home.createOrEditLabel">Create or edit a File Upload</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="col-xs-12 form-group">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.fileUpload.name" for="field_name">Name</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="fileUpload.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.fileUpload.content" for="field_content">Content</label>
                </div>
                <div class="col-md-10 col-sm-12">

                    <div class="btn-group flex-btn-group-container">
                        <label class="btn btn-primary btn-sm pull-left flex-center-text mb-0">
                            Browse
                            <input type="file" id="file_content" style="display: none" (change)="setFileData($event, fileUpload, 'content', false)" jhiTranslate="entity.action.addblob">
                        </label>
                        <a *ngIf="fileUpload.content" class="btn btn-success btn-sm pull-left flex-center-text" (click)="openFile(fileUpload.contentContentType, fileUpload.content)">
                            <span class="white-text">{{'entity.action.open'| translate}} - {{fileUpload.contentContentType}} - {{byteSize(fileUpload.content)}}</span>
                        </a>
                        <button *ngIf="fileUpload.content" type="button" (click)="fileUpload.content=null;fileUpload.contentContentType=null;" class="btn btn-secondary btn-xs pull-right">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <input type="hidden" class="form-control" name="content" id="field_content" [(ngModel)]="fileUpload.content" required/>
                    <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType" [(ngModel)]="fileUpload.contentContentType">
                    <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.fileUpload.contentType" for="field_contentType">Content Type</label>
                </div>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control" name="contentType" id="field_contentType" [(ngModel)]="fileUpload.contentType" required/>
                    <div [hidden]="!(editForm.controls.contentType?.dirty && editForm.controls.contentType?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.contentType?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>