<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
  <div class="card">
    <div class="card-header">
      <strong>Create or edit a Province</strong>
    </div>
    <div class="card-body">


      <jhi-alert-error></jhi-alert-error>
      <div class="form-group" [hidden]="!province.id">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id"
               [(ngModel)]="province.id" readonly/>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_code">Code</label>
        <input type="text" class="form-control" name="code" id="field_code" #field_code
               [(ngModel)]="province.code" required/>
        <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
          <small class="form-text text-danger"
                 [hidden]="!editForm.controls.code?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="field_name"
               [(ngModel)]="province.name" required/>
        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
          <small class="form-text text-danger"
                 [hidden]="!editForm.controls.name?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_description">Description</label>
        <input type="text" class="form-control" name="description" id="field_description"
               [(ngModel)]="province.description"/>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <i class="fa fa-ban"></i> Cancel</span>
      </button>
      <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i>&nbsp;Save
      </button>
    </div>
  </div>
</form>
