
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.province.detail.title">Province</span> {{province.id}}
    </div>
    <div class="card-body">

<div *ngIf="province">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.province.code">Code</span></dt>
        <dd>
            <span>{{province.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.province.name">Name</span></dt>
        <dd>
            <span>{{province.name}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.province.description">Description</span></dt>
        <dd>
            <span>{{province.description}}</span>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'province', province.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
