<div class="card" *ngIf="province">
  <div class="card-header">
    <strong>Province {{province.id}}</strong>
  </div>
  <div class="card-body">
    <div >
      <jhi-alert-error></jhi-alert-error>
      <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
          <span>{{province.code}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{province.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{province.description}}</span>
        </dd>
      </dl>

      <button type="submit"
              (click)="previousState()"
              class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
      </button>

      <button type="button"
              [routerLink]="['edit']"
              replaceUrl="true"
              queryParamsHandling="merge"
              class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
      </button>
    </div>
  </div>
</div>
