
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationGiveBack.detail.title">Quotation Give Back</span> {{quotationGiveBack.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationGiveBack">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationGiveBack.feePercent">Fee Percent</span></dt>
        <dd>
            <span>{{quotationGiveBack.feePercent}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationGiveBack.districtType">District Type</span></dt>
        <dd>
            <div *ngIf="quotationGiveBack.districtTypeId">
                <a [routerLink]="['/district-type', quotationGiveBack.districtTypeId]">{{quotationGiveBack.districtTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationGiveBack.region">Region</span></dt>
        <dd>
            <div *ngIf="quotationGiveBack.regionId">
                <a [routerLink]="['/region', quotationGiveBack.regionId]">{{quotationGiveBack.regionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationGiveBack.quotationParent">Quotation Parent</span></dt>
        <dd>
            <div *ngIf="quotationGiveBack.quotationParentId">
                <a [routerLink]="['/quotation', quotationGiveBack.quotationParentId]">{{quotationGiveBack.quotationParentId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-give-back', quotationGiveBack.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
