
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationItem.detail.title">Quotation Item</span> {{quotationItem.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationItem">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationItem.quotationFile">Quotation File</span></dt>
        <dd>
            <div *ngIf="quotationItem.quotationFile">
                <a (click)="openFile(quotationItem.quotationFileContentType, quotationItem.quotationFile)" jhiTranslate="entity.action.open">open</a>
                {{quotationItem.quotationFileContentType}}, {{byteSize(quotationItem.quotationFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationItem.createDate">Create Date</span></dt>
        <dd>
            <span>{{quotationItem.createDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationItem.quotation">Quotation</span></dt>
        <dd>
            <div *ngIf="quotationItem.quotationId">
                <a [routerLink]="['/quotation', quotationItem.quotationId]">{{quotationItem.quotationId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-item', quotationItem.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
