<form name="searchForm" #searchForm="ngForm" class="form-horizontal" (ngSubmit)="searchInForm()">
  <div class="card ">
    <div class="card-header">
      <i class="fa fa-filter"></i>
      <strong jhiTranslate="common.filter.header">Filter</strong>
      <div class="card-header-actions">
        <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed" [attr.aria-expanded]="!searchCardIsCollapsed"
           aria-controls="searchCard">
          <i class="icon-arrow-up"></i>
        </a>

      </div>
    </div>

    <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="field_login" jhiTranslate="userManagement.login">Login:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="login" id="field_login" [(ngModel)]="userSearch.login" />
        </div>

        <label class="col-md-2 col-form-label" for="field_name" jhiTranslate="userManagement.name">Name:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="userSearch.name" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="field_email" jhiTranslate="userManagement.email">Email:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="email" id="field_email" [(ngModel)]="userSearch.email" />
        </div>

        <label class="col-md-2 col-form-label" for="field_phone" jhiTranslate="userManagement.phone">Phone:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="phone" id="field_phone" [(ngModel)]="userSearch.phone" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="field_activated" jhiTranslate="userManagement.activated">Active:</label>
        <div class="col-md-4 col-form-label">
          <div class="form-check form-check-inline mr-1" >
            <input class="form-check-input" id="field_activated" type="radio" id="inline-radio1" value="" [(ngModel)]="userSearch.activated" name="inline-radios">
            <label class="form-check-label" for="inline-radio1">Tất cả</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" id="inline-radio2" value="true" [(ngModel)]="userSearch.activated" name="inline-radios">
            <label class="form-check-label" for="inline-radio2">Kích hoạt</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" id="inline-radio3" value="false" [(ngModel)]="userSearch.activated" name="inline-radios">
            <label class="form-check-label" for="inline-radio3">Khóa</label>
          </div>
        </div>
        <label class="col-md-2 col-form-label" for="field_createdDate" jhiTranslate="userManagement.createdDate">Active:</label>
        <div class="col-md-4 col-form-label">
          <input class="form-control" name="createdDate" id="field_createdDate" #drp="bsDaterangepicker" bsDaterangepicker [bsConfig]="createdDateConfig" [(ngModel)]="createdDate">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="field_postOffice" jhiTranslate="userManagement.postOffice">Post Office:</label>
        <div class="col-md-4 col-form-label">
          <select class="form-control" id="field_postOffice" name="postOffice" [(ngModel)]="userSearch.postOfficeId" >
            <option  [ngValue]="null" ></option>
            <option [ngValue]="postOfficeOption.id" *ngFor="let postOfficeOption of postOffices; trackBy: trackPostOfficeById">{{postOfficeOption.code}} - {{postOfficeOption.name}}</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="field_userGroup"
                 jhiTranslate="userManagement.userGroup">User Group:</label>
          <div class="col-md-4 col-form-label">
            <select class="form-control" id="field_userGroup" name="userGroup" [(ngModel)]="userSearch.userGroupId">
              <option  [ngValue]="null" ></option>
              <option [ngValue]="userGroupOption.id" *ngFor="let userGroupOption of userGroups; trackBy: trackUserGroupById">{{userGroupOption.code}} - {{userGroupOption.name}}</option>
            </select>
          </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i> {{'common.button.search' |translate }}
      </button>
      <button type="reset" class="btn btn-danger" (click)="clear()">
        <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
      </button>
      <!-- <button type="reset" class="btn btn-primary btn-success">
          <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
      </button> -->
      <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
        <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
      </button>
    </div>
  </div>
</form>
<div class="card">
  <div class="card-header">
    <strong>Users</strong>
  </div>
  <div class="card-body">
    <div>
      <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
          <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="login"><span>Login</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
            <th></th>
            <th><span>Profiles</span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngIf="users">
          <tr *ngFor="let user of users; trackBy: trackIdentity">
            <td><a >{{user.id}}</a></td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
              >Deactivated
              </button>
              <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                      [disabled]="currentAccount.login === user.login">Activated
              </button>
            </td>

            <td>
              <div *ngFor="let authority of user.authorities">
                <span class="badge badge-info">{{ authority }}</span>
              </div>
            </td>
            <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
            <td>{{user.lastModifiedBy}}</td>
            <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        class="btn btn-info btn-sm">
                  <span class="fa fa-eye"></span>
                  <span class="d-none d-md-inline" [routerLink]="[user.login,'view']">View</span>
                </button>
                <button type="submit"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm" [routerLink]="[user.login,'edit']">
                  <span class="fa fa-pencil"></span>
                  <span class="d-none d-md-inline">Edit</span>
                </button>
                <button type="submit"
                        replaceUrl="true"
                        queryParamsHandling="merge"  (click)="deleteUser(user)"
                        class="btn btn-danger btn-sm" [disabled]="currentAccount.login === user.login">
                  <span class="fa fa-remove"></span>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="users">
        <div class="row justify-content-center">
          <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                          [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
