<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserExtraInfoLabel" jhiTranslate="nextlogixApp.userExtraInfo.home.createOrEditLabel">Create or edit a User Extra Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userExtraInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userExtraInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="userExtraInfo.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="userExtraInfo.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="userExtraInfo.address" />
        </div>

        <div class="form-group">
            <label jhiTranslate="nextlogixApp.userExtraInfo.role" for="field_role">Role</label>
            <select class="form-control" id="field_role" multiple name="role" [(ngModel)]="userExtraInfo.roles">
                <option [ngValue]="getSelected(userExtraInfo.roles, roleOption)" *ngFor="let roleOption of roles; trackBy: trackRoleById">{{roleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="nextlogixApp.userExtraInfo.userGroup" for="field_userGroup">User Group</label>
            <select class="form-control" id="field_userGroup" multiple name="userGroup" [(ngModel)]="userExtraInfo.userGroups">
                <option [ngValue]="getSelected(userExtraInfo.userGroups, userGroupOption)" *ngFor="let userGroupOption of usergroups; trackBy: trackUserGroupById">{{userGroupOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
