<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.userExtraInfo.home.createOrEditLabel">Create or edit a User Extra Info</strong>
    </div>
    <div class="card-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userExtraInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userExtraInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="userExtraInfo.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="userExtraInfo.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="userExtraInfo.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.validDate" for="field_validDate">Valid Date</label>
                    <div class="d-flex">
                        <input id="field_validDate" type="datetime-local" class="form-control" name="validDate" [(ngModel)]="validDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.validDate?.dirty && editForm.controls.validDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.validDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.validDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.lastLoginDate" for="field_lastLoginDate">Last Login Date</label>
                    <div class="d-flex">
                        <input id="field_lastLoginDate" type="datetime-local" class="form-control" name="lastLoginDate" [(ngModel)]="lastLoginDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.contractFile" for="field_contractFile">Contract File</label>
                    <div>
                        <div *ngIf="userExtraInfo.contractFile" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(userExtraInfo.contractFileContentType, userExtraInfo.contractFile)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{userExtraInfo.contractFileContentType}}, {{byteSize(userExtraInfo.contractFile)}}</span>
                            <button type="button" (click)="userExtraInfo.contractFile=null;userExtraInfo.contractFileContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_contractFile" (change)="setFileData($event, userExtraInfo, 'contractFile', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="contractFile" id="field_contractFile"
                        [(ngModel)]="userExtraInfo.contractFile" />
                    <input type="hidden" class="form-control" name="contractFileContentType" id="field_contractFileContentType"
                        [(ngModel)]="userExtraInfo.contractFileContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.contractExpirationDate" for="field_contractExpirationDate">Contract Expiration Date</label>
                    <div class="d-flex">
                        <input id="field_contractExpirationDate" type="datetime-local" class="form-control" name="contractExpirationDate" [(ngModel)]="contractExpirationDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.userExtraInfo.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="userExtraInfo.companyId"  required>
                        <option *ngIf="!editForm.value.company" [ngValue]="null" selected></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</div>
</form>
