
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.userExtraInfo.detail.title">User Extra Info</span> {{userExtraInfo.id}}
    </div>
    <div class="card-body">

<div *ngIf="userExtraInfo">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.email">Email</span></dt>
        <dd>
            <span>{{userExtraInfo.email}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.phone">Phone</span></dt>
        <dd>
            <span>{{userExtraInfo.phone}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.address">Address</span></dt>
        <dd>
            <span>{{userExtraInfo.address}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.validDate">Valid Date</span></dt>
        <dd>
            <span>{{userExtraInfo.validDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.lastLoginDate">Last Login Date</span></dt>
        <dd>
            <span>{{userExtraInfo.lastLoginDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.contractFile">Contract File</span></dt>
        <dd>
            <div *ngIf="userExtraInfo.contractFile">
                <a (click)="openFile(userExtraInfo.contractFileContentType, userExtraInfo.contractFile)" jhiTranslate="entity.action.open">open</a>
                {{userExtraInfo.contractFileContentType}}, {{byteSize(userExtraInfo.contractFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.contractExpirationDate">Contract Expiration Date</span></dt>
        <dd>
            <span>{{userExtraInfo.contractExpirationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userExtraInfo.company">Company</span></dt>
        <dd>
            <div *ngIf="userExtraInfo.companyId">
                <a [routerLink]="['/company', userExtraInfo.companyId]">{{userExtraInfo.companyId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'user-extra-info', userExtraInfo.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
