
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.customerLegal.detail.title">Customer Legal</span> {{customerLegal.id}}
    </div>
    <div class="card-body">

<div *ngIf="customerLegal">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.customerLegal.contractCustomerName">Contract Customer Name</span></dt>
        <dd>
            <span>{{customerLegal.contractCustomerName}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.contractAddress">Contract Address</span></dt>
        <dd>
            <span>{{customerLegal.contractAddress}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.contractContactName">Contract Contact Name</span></dt>
        <dd>
            <span>{{customerLegal.contractContactName}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.contractContactPhone">Contract Contact Phone</span></dt>
        <dd>
            <span>{{customerLegal.contractContactPhone}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.taxCode">Tax Code</span></dt>
        <dd>
            <span>{{customerLegal.taxCode}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.contractExpirationDate">Contract Expiration Date</span></dt>
        <dd>
            <span>{{customerLegal.contractExpirationDate}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.company">Company</span></dt>
        <dd>
            <div *ngIf="customerLegal.companyId">
                <a [routerLink]="['/company', customerLegal.companyId]">{{customerLegal.companyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.province">Province</span></dt>
        <dd>
            <div *ngIf="customerLegal.provinceId">
                <a [routerLink]="['/province', customerLegal.provinceId]">{{customerLegal.provinceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.district">District</span></dt>
        <dd>
            <div *ngIf="customerLegal.districtId">
                <a [routerLink]="['/district', customerLegal.districtId]">{{customerLegal.districtId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerLegal.fileUpload">File Upload</span></dt>
        <dd>
            <span *ngFor="let fileUpload of customerLegal.fileUploads; let last = last">
                <a [routerLink]="['/file-upload', fileUpload?.id ]">{{fileUpload.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'customer-legal', customerLegal.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
