
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_contractCustomerName"
                       jhiTranslate="nextlogixApp.customerLegal.contractCustomerName">Contract Customer Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="contractCustomerName" id="field_contractCustomerName"
                           [(ngModel)]="customerLegalSearch.contractCustomerName" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_contractAddress"
                       jhiTranslate="nextlogixApp.customerLegal.contractAddress">Contract Address:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="contractAddress" id="field_contractAddress"
                           [(ngModel)]="customerLegalSearch.contractAddress" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_contractContactName"
                       jhiTranslate="nextlogixApp.customerLegal.contractContactName">Contract Contact Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="contractContactName" id="field_contractContactName"
                           [(ngModel)]="customerLegalSearch.contractContactName" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_contractContactPhone"
                       jhiTranslate="nextlogixApp.customerLegal.contractContactPhone">Contract Contact Phone:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="contractContactPhone" id="field_contractContactPhone"
                           [(ngModel)]="customerLegalSearch.contractContactPhone" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_taxCode"
                       jhiTranslate="nextlogixApp.customerLegal.taxCode">Tax Code:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="taxCode" id="field_taxCode"
                           [(ngModel)]="customerLegalSearch.taxCode" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_contractExpirationDate"
                       jhiTranslate="nextlogixApp.customerLegal.contractExpirationDate">Contract Expiration Date:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="contractExpirationDate" id="field_contractExpirationDate"
                           [(ngModel)]="customerLegalSearch.contractExpirationDate" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_company"
                       jhiTranslate="nextlogixApp.customerLegal.company">>Company:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="customerLegalSearch.companyId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_province"
                       jhiTranslate="nextlogixApp.customerLegal.province">>Province:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="customerLegalSearch.provinceId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_district"
                       jhiTranslate="nextlogixApp.customerLegal.district">>District:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_district" name="district" [(ngModel)]="customerLegalSearch.districtId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="districtOption.id" *ngFor="let districtOption of districts; trackBy: trackDistrictById">{{districtOption.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_fileUpload"
                       jhiTranslate="nextlogixApp.customerLegal.fileUpload">>File Upload:</label>
                <div class="col-md-4">
                    <label jhiTranslate="nextlogixApp.customerLegal.fileUpload" for="field_fileUpload">File Upload</label>
                    <select class="form-control" id="field_fileUpload" multiple name="fileUpload" [(ngModel)]="customerLegalSearch.fileUploads">
                    <option [ngValue]="getSelected(customerLegal.fileUploads, fileUploadOption)" *ngFor="let fileUploadOption of fileuploads; trackBy: trackFileUploadById">{{fileUploadOption.id}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.customerLegal.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="customerLegals">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="contractCustomerName"><span jhiTranslate="nextlogixApp.customerLegal.contractCustomerName">Contract Customer Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="contractAddress"><span jhiTranslate="nextlogixApp.customerLegal.contractAddress">Contract Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="contractContactName"><span jhiTranslate="nextlogixApp.customerLegal.contractContactName">Contract Contact Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="contractContactPhone"><span jhiTranslate="nextlogixApp.customerLegal.contractContactPhone">Contract Contact Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="taxCode"><span jhiTranslate="nextlogixApp.customerLegal.taxCode">Tax Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="contractExpirationDate"><span jhiTranslate="nextlogixApp.customerLegal.contractExpirationDate">Contract Expiration Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="companyId"><span jhiTranslate="nextlogixApp.customerLegal.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="provinceId"><span jhiTranslate="nextlogixApp.customerLegal.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="districtId"><span jhiTranslate="nextlogixApp.customerLegal.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let customerLegal of customerLegals ;trackBy: trackId">
                    <td><a [routerLink]="[ customerLegal.id,'view']">{{customerLegal.id}}</a></td>
                    <td>{{customerLegal.contractCustomerName}}</td>
                    <td>{{customerLegal.contractAddress}}</td>
                    <td>{{customerLegal.contractContactName}}</td>
                    <td>{{customerLegal.contractContactPhone}}</td>
                    <td>{{customerLegal.taxCode}}</td>
                    <td>{{customerLegal.contractExpirationDate}}</td>
                    <td>
        <div *ngIf="customerLegal.companyId">
        <a [routerLink]="['../company', 'detail',customerLegal.companyId ]" >{{customerLegal.companyDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customerLegal.provinceId">
        <a [routerLink]="['../province', 'detail',customerLegal.provinceId ]" >{{customerLegal.provinceDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customerLegal.districtId">
        <a [routerLink]="['../district', 'detail',customerLegal.districtId ]" >{{customerLegal.districtDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[customerLegal.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[customerLegal.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(customerLegal.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="customerLegals && customerLegals.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


