
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationType.detail.title">Quotation Type</span> {{quotationType.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationType">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationType.code">Code</span></dt>
        <dd>
            <span>{{quotationType.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationType.name">Name</span></dt>
        <dd>
            <span>{{quotationType.name}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationType.description">Description</span></dt>
        <dd>
            <span>{{quotationType.description}}</span>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-type', quotationType.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
