
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationPickup.detail.title">Quotation Pickup</span> {{quotationPickup.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationPickup">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationPickup.amount">Amount</span></dt>
        <dd>
            <span>{{quotationPickup.amount}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationPickup.province">Province</span></dt>
        <dd>
            <div *ngIf="quotationPickup.provinceId">
                <a [routerLink]="['/province', quotationPickup.provinceId]">{{quotationPickup.provinceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationPickup.districtType">District Type</span></dt>
        <dd>
            <div *ngIf="quotationPickup.districtTypeId">
                <a [routerLink]="['/district-type', quotationPickup.districtTypeId]">{{quotationPickup.districtTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationPickup.quotationParent">Quotation Parent</span></dt>
        <dd>
            <div *ngIf="quotationPickup.quotationParentId">
                <a [routerLink]="['/quotation', quotationPickup.quotationParentId]">{{quotationPickup.quotationParentId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-pickup', quotationPickup.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
