
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_code"
                       jhiTranslate="nextlogixApp.customer.code">Code:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="code" id="field_code"
                           [(ngModel)]="customerSearch.code" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_name"
                       jhiTranslate="nextlogixApp.customer.name">Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="customerSearch.name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_address"
                       jhiTranslate="nextlogixApp.customer.address">Address:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="address" id="field_address"
                           [(ngModel)]="customerSearch.address" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_email"
                       jhiTranslate="nextlogixApp.customer.email">Email:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="email" id="field_email"
                           [(ngModel)]="customerSearch.email" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_phone"
                       jhiTranslate="nextlogixApp.customer.phone">Phone:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           [(ngModel)]="customerSearch.phone" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_password"
                       jhiTranslate="nextlogixApp.customer.password">Password:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="password" id="field_password"
                           [(ngModel)]="customerSearch.password" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_isActive"
                       jhiTranslate="nextlogixApp.customer.isActive">Is Active:</label>
                <div class="col-md-4">
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           [(ngModel)]="customerSearch.isActive" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_createDate"
                       jhiTranslate="nextlogixApp.customer.createDate">Create Date:</label>
                <div class="col-md-4">
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="customerSearch.createDate"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_lastLoginDate"
                       jhiTranslate="nextlogixApp.customer.lastLoginDate">Last Login Date:</label>
                <div class="col-md-4">
                    <div class="d-flex">
                        <input id="field_lastLoginDate" type="datetime-local" class="form-control" name="lastLoginDate" [(ngModel)]="customerSearch.lastLoginDate"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_apiToken"
                       jhiTranslate="nextlogixApp.customer.apiToken">Api Token:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="apiToken" id="field_apiToken"
                           [(ngModel)]="customerSearch.apiToken" />
                </div>
            </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="field_legal"
                           jhiTranslate="nextlogixApp.customer.legal">>Legal:</label>
                    <div class="col-md-4">
                    <select class="form-control" id="field_legal" name="legal" [(ngModel)]="customerSearch.legalId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="customerLegalOption.id" *ngFor="let customerLegalOption of legals; trackBy: trackCustomerLegalById">{{customerLegalOption.id}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="field_payment"
                           jhiTranslate="nextlogixApp.customer.payment">>Payment:</label>
                    <div class="col-md-4">
                    <select class="form-control" id="field_payment" name="payment" [(ngModel)]="customerSearch.paymentId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="customerPaymentOption.id" *ngFor="let customerPaymentOption of payments; trackBy: trackCustomerPaymentById">{{customerPaymentOption.id}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="field_warehouse"
                           jhiTranslate="nextlogixApp.customer.warehouse">>Warehouse:</label>
                    <div class="col-md-4">
                    <select class="form-control" id="field_warehouse" name="warehouse" [(ngModel)]="customerSearch.warehouseId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="warehouseOption.id" *ngFor="let warehouseOption of warehouses; trackBy: trackWarehouseById">{{warehouseOption.id}}</option>
                    </select>
                    </div>
                </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_company"
                       jhiTranslate="nextlogixApp.customer.company">>Company:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="customerSearch.companyId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_manageUser"
                       jhiTranslate="nextlogixApp.customer.manageUser">>Manage User:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_manageUser" name="manageUser" [(ngModel)]="customerSearch.manageUserId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="userExtraInfoOption.id" *ngFor="let userExtraInfoOption of userextrainfos; trackBy: trackUserExtraInfoById">{{userExtraInfoOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_saleUser"
                       jhiTranslate="nextlogixApp.customer.saleUser">>Sale User:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_saleUser" name="saleUser" [(ngModel)]="customerSearch.saleUserId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="userExtraInfoOption.id" *ngFor="let userExtraInfoOption of userextrainfos; trackBy: trackUserExtraInfoById">{{userExtraInfoOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_province"
                       jhiTranslate="nextlogixApp.customer.province">>Province:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="customerSearch.provinceId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_district"
                       jhiTranslate="nextlogixApp.customer.district">>District:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_district" name="district" [(ngModel)]="customerSearch.districtId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="districtOption.id" *ngFor="let districtOption of districts; trackBy: trackDistrictById">{{districtOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_customerType"
                       jhiTranslate="nextlogixApp.customer.customerType">>Customer Type:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_customerType" name="customerType" [(ngModel)]="customerSearch.customerTypeId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="customerTypeOption.id" *ngFor="let customerTypeOption of customertypes; trackBy: trackCustomerTypeById">{{customerTypeOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_customerSource"
                       jhiTranslate="nextlogixApp.customer.customerSource">>Customer Source:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_customerSource" name="customerSource" [(ngModel)]="customerSearch.customerSourceId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="customerSourceOption.id" *ngFor="let customerSourceOption of customersources; trackBy: trackCustomerSourceById">{{customerSourceOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.customer.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="customers">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="code"><span jhiTranslate="nextlogixApp.customer.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="name"><span jhiTranslate="nextlogixApp.customer.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="address"><span jhiTranslate="nextlogixApp.customer.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="email"><span jhiTranslate="nextlogixApp.customer.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="phone"><span jhiTranslate="nextlogixApp.customer.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="password"><span jhiTranslate="nextlogixApp.customer.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="isActive"><span jhiTranslate="nextlogixApp.customer.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createDate"><span jhiTranslate="nextlogixApp.customer.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastLoginDate"><span jhiTranslate="nextlogixApp.customer.lastLoginDate">Last Login Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="apiToken"><span jhiTranslate="nextlogixApp.customer.apiToken">Api Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="legalId"><span jhiTranslate="nextlogixApp.customer.legal">Legal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="paymentId"><span jhiTranslate="nextlogixApp.customer.payment">Payment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="warehouseId"><span jhiTranslate="nextlogixApp.customer.warehouse">Warehouse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="companyId"><span jhiTranslate="nextlogixApp.customer.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="manageUserId"><span jhiTranslate="nextlogixApp.customer.manageUser">Manage User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="saleUserId"><span jhiTranslate="nextlogixApp.customer.saleUser">Sale User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="provinceId"><span jhiTranslate="nextlogixApp.customer.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="districtId"><span jhiTranslate="nextlogixApp.customer.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="customerTypeId"><span jhiTranslate="nextlogixApp.customer.customerType">Customer Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="customerSourceId"><span jhiTranslate="nextlogixApp.customer.customerSource">Customer Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let customer of customers ;trackBy: trackId">
                    <td><a [routerLink]="[ customer.id,'view']">{{customer.id}}</a></td>
                    <td>{{customer.code}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.password}}</td>
                    <td>{{customer.isActive}}</td>
                    <td>{{customer.createDate | date:'medium'}}</td>
                    <td>{{customer.lastLoginDate | date:'medium'}}</td>
                    <td>{{customer.apiToken}}</td>
                    <td>
        <div *ngIf="customer.legalId">
        <a [routerLink]="['../customer-legal', 'detail',customer.legalId ]" >{{customer.legalDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.paymentId">
        <a [routerLink]="['../customer-payment', 'detail',customer.paymentId ]" >{{customer.paymentDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.warehouseId">
        <a [routerLink]="['../warehouse', 'detail',customer.warehouseId ]" >{{customer.warehouseDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.companyId">
        <a [routerLink]="['../company', 'detail',customer.companyId ]" >{{customer.companyDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.manageUserId">
        <a [routerLink]="['../user-extra-info', 'detail',customer.manageUserId ]" >{{customer.manageUserDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.saleUserId">
        <a [routerLink]="['../user-extra-info', 'detail',customer.saleUserId ]" >{{customer.saleUserDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.provinceId">
        <a [routerLink]="['../province', 'detail',customer.provinceId ]" >{{customer.provinceDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.districtId">
        <a [routerLink]="['../district', 'detail',customer.districtId ]" >{{customer.districtDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.customerTypeId">
        <a [routerLink]="['../customer-type', 'detail',customer.customerTypeId ]" >{{customer.customerTypeDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customer.customerSourceId">
        <a [routerLink]="['../customer-source', 'detail',customer.customerSourceId ]" >{{customer.customerSourceDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[customer.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[customer.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(customer.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="customers && customers.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


