
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.customer.detail.title">Customer</span> {{customer.id}}
    </div>
    <div class="card-body">

<div *ngIf="customer">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.customer.code">Code</span></dt>
        <dd>
            <span>{{customer.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.name">Name</span></dt>
        <dd>
            <span>{{customer.name}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.address">Address</span></dt>
        <dd>
            <span>{{customer.address}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.email">Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.phone">Phone</span></dt>
        <dd>
            <span>{{customer.phone}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.password">Password</span></dt>
        <dd>
            <span>{{customer.password}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.isActive">Is Active</span></dt>
        <dd>
            <span>{{customer.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.createDate">Create Date</span></dt>
        <dd>
            <span>{{customer.createDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.lastLoginDate">Last Login Date</span></dt>
        <dd>
            <span>{{customer.lastLoginDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.apiToken">Api Token</span></dt>
        <dd>
            <span>{{customer.apiToken}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.legal">Legal</span></dt>
        <dd>
            <div *ngIf="customer.legalId">
                <a [routerLink]="['/customer-legal', customer.legalId]">{{customer.legalId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.payment">Payment</span></dt>
        <dd>
            <div *ngIf="customer.paymentId">
                <a [routerLink]="['/customer-payment', customer.paymentId]">{{customer.paymentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.warehouse">Warehouse</span></dt>
        <dd>
            <div *ngIf="customer.warehouseId">
                <a [routerLink]="['/warehouse', customer.warehouseId]">{{customer.warehouseId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.company">Company</span></dt>
        <dd>
            <div *ngIf="customer.companyId">
                <a [routerLink]="['/company', customer.companyId]">{{customer.companyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.manageUser">Manage User</span></dt>
        <dd>
            <div *ngIf="customer.manageUserId">
                <a [routerLink]="['/user-extra-info', customer.manageUserId]">{{customer.manageUserId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.saleUser">Sale User</span></dt>
        <dd>
            <div *ngIf="customer.saleUserId">
                <a [routerLink]="['/user-extra-info', customer.saleUserId]">{{customer.saleUserId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.province">Province</span></dt>
        <dd>
            <div *ngIf="customer.provinceId">
                <a [routerLink]="['/province', customer.provinceId]">{{customer.provinceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.district">District</span></dt>
        <dd>
            <div *ngIf="customer.districtId">
                <a [routerLink]="['/district', customer.districtId]">{{customer.districtId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.customerType">Customer Type</span></dt>
        <dd>
            <div *ngIf="customer.customerTypeId">
                <a [routerLink]="['/customer-type', customer.customerTypeId]">{{customer.customerTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customer.customerSource">Customer Source</span></dt>
        <dd>
            <div *ngIf="customer.customerSourceId">
                <a [routerLink]="['/customer-source', customer.customerSourceId]">{{customer.customerSourceId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'customer', customer.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
