<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.customerPostOffice.home.title">
            Chi nhánh có phát sinh doanh thu</strong>
        <button class="pull-right btn btn-primary" (click)="showPostOffice(0)">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <span jhiTranslate="nextlogixApp.customerPostOffice.postOffice">Post Office</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.customerPostOffice.code">Code</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.customerPostOffice.createDate">Create Date</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.customerPostOffice.isActive">Is Active</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customerPostOffice of customerPostOffices ;trackBy: trackId">
                        <td>
                            <div *ngIf="customerPostOffice.postOfficeId">
                                {{customerPostOffice.postOfficeDTO?.name}}
                            </div>
                        </td>
                        <td>{{customerPostOffice.code}}</td>
                        <td>{{customerPostOffice.createDate | date:'dd.MM.yyyy'}}</td>
                        <td>
                            <span class="badge" [ngClass]="{'badge-success': customerPostOffice.isActive, 'badge-danger' : !customerPostOffice.isActive}">
                                {{customerPostOffice.isActive? ('nextlogixApp.customerPostOffice.activated' | translate) : ('nextlogixApp.customerPostOffice.deActivated'
                                | translate)}}
                            </span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <!-- <a class="btn btn-danger" href="javascript:void()" (click)="showPostOffice(customerPostOffice.id)">
                                    <i class="fa" [ngClass]="{'fa-toggle-on btn-success': customerPostOffice.isActive, 'fa-toggle-off btn-danger': !customerPostOffice.isActive}"></i>
                                </a> -->
                                <button type="button" class="btn btn-primary btn-sm" (click)="showPostOffice(customerPostOffice.id)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button (click)="deleteItem(customerPostOffice.id)" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>