
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.customerPostOffice.detail.title">Customer Post Office</span> {{customerPostOffice.id}}
    </div>
    <div class="card-body">

<div *ngIf="customerPostOffice">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.customerPostOffice.code">Code</span></dt>
        <dd>
            <span>{{customerPostOffice.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPostOffice.isActive">Is Active</span></dt>
        <dd>
            <span>{{customerPostOffice.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPostOffice.createDate">Create Date</span></dt>
        <dd>
            <span>{{customerPostOffice.createDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPostOffice.customer">Customer</span></dt>
        <dd>
            <div *ngIf="customerPostOffice.customerId">
                <a [routerLink]="['/customer', customerPostOffice.customerId]">{{customerPostOffice.customerId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPostOffice.company">Company</span></dt>
        <dd>
            <div *ngIf="customerPostOffice.companyId">
                <a [routerLink]="['/company', customerPostOffice.companyId]">{{customerPostOffice.companyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPostOffice.postOffice">Post Office</span></dt>
        <dd>
            <div *ngIf="customerPostOffice.postOfficeId">
                <a [routerLink]="['/post-office', customerPostOffice.postOfficeId]">{{customerPostOffice.postOfficeId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'customer-post-office', customerPostOffice.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
