
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.orderSubServices.detail.title">Order Sub Services</span> {{orderSubServices.id}}
    </div>
    <div class="card-body">

<div *ngIf="orderSubServices">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.orderSubServices.code">Code</span></dt>
        <dd>
            <span>{{orderSubServices.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.orderSubServices.name">Name</span></dt>
        <dd>
            <span>{{orderSubServices.name}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.orderSubServices.isActive">Is Active</span></dt>
        <dd>
            <span>{{orderSubServices.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.orderSubServices.description">Description</span></dt>
        <dd>
            <span>{{orderSubServices.description}}</span>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'order-sub-services', orderSubServices.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
