
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.quotationInsurance.detail.title">Quotation Insurance</span> {{quotationInsurance.id}}
    </div>
    <div class="card-body">

<div *ngIf="quotationInsurance">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.amountFrom">Amount From</span></dt>
        <dd>
            <span>{{quotationInsurance.amountFrom}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.amountTo">Amount To</span></dt>
        <dd>
            <span>{{quotationInsurance.amountTo}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.feeAmountMin">Fee Amount Min</span></dt>
        <dd>
            <span>{{quotationInsurance.feeAmountMin}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.feeAmountMax">Fee Amount Max</span></dt>
        <dd>
            <span>{{quotationInsurance.feeAmountMax}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.feePercent">Fee Percent</span></dt>
        <dd>
            <span>{{quotationInsurance.feePercent}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.districtType">District Type</span></dt>
        <dd>
            <div *ngIf="quotationInsurance.districtTypeId">
                <a [routerLink]="['/district-type', quotationInsurance.districtTypeId]">{{quotationInsurance.districtTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.quotationInsurance.quotationParent">Quotation Parent</span></dt>
        <dd>
            <div *ngIf="quotationInsurance.quotationParentId">
                <a [routerLink]="['/quotation', quotationInsurance.quotationParentId]">{{quotationInsurance.quotationParentId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'quotation-insurance', quotationInsurance.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
