<div class="card ">
  <div class="card-header">
    <i class="fa fa-filter"></i>
    <strong jhiTranslate="nextlogixApp.common.filter">Filter</strong>
    <div class="card-header-actions">

      <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
         [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
        <i class="icon-arrow-up"></i>
      </a>

    </div>
  </div>
  <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
    <form name="searchForm" class="form-horizontal">
      <!--<div class="input-group w-100 mt-3">
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'nextlogixApp.district.home.search' | translate }}">
        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
          <span class="fa fa-search"></span>
        </button>
        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
          <span class="fa fa-trash-o"></span>
        </button>
      </div>-->
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="districtSearch-code"
               jhiTranslate="nextlogixApp.district.code">Code:</label>
        <div class="col-md-4">
          <input type="text" id="districtSearch-code" name="districtSearch-code" [(ngModel)]="districtSearch.code"
                 class="form-control" placeholder="">
        </div>
        <label class="col-md-2 col-form-label" for="districtSearch-name"
               jhiTranslate="nextlogixApp.district.name">Name:</label>
        <div class="col-md-4">
          <input type="text" id="districtSearch-name" name="districtSearch-name" [(ngModel)]="districtSearch.name"
                 class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="districtSearch-description"
               jhiTranslate="nextlogixApp.district.description">Description:</label>
        <div class="col-md-4">
          <input type="text" id="districtSearch-description" name="districtSearch-description"
                 [(ngModel)]="districtSearch.description" class="form-control" placeholder="">
        </div>
        <label class="col-md-2 col-form-label" for="districtSearch-province"
               jhiTranslate="nextlogixApp.district.province">Province:</label>
        <div class="col-md-4">
          <select id="districtSearch-province" name="districtSearch-province" class="form-control">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-search"></i> Tìm kiếm
    </button>
    <button type="reset" class="btn btn-primary btn-danger">
      <i class="fa fa-undo"></i> Làm lại
    </button>
    <button type="reset" class="btn btn-primary btn-success">
      <i class="fa fa-file-excel-o"></i> Xuất Excel
    </button>
    <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
      <i class="fa fa-plus-circle"></i> Thêm mới
    </button>

  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong jhiTranslate="nextlogixApp.district.home.title">Kết quả tìm kiếm</strong>
  </div>
  <div class="card-body">
    <div class="table-responsive" *ngIf="districts">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><span jhiTranslate="global.field.id">ID</span></th>
          <th><span jhiTranslate="nextlogixApp.district.code">Code</span></th>
          <th><span jhiTranslate="nextlogixApp.district.name">Name</span></th>
          <th><span jhiTranslate="nextlogixApp.district.description">Description</span></th>
          <th><span jhiTranslate="nextlogixApp.district.province">Province</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let district of districts ;trackBy: trackId">
          <td><a [routerLink]="['detail', district.id ]">{{district.id}}</a></td>
          <td>{{district.code}}</td>
          <td>{{district.name}}</td>
          <td>{{district.description}}</td>
          <td>
            <div *ngIf="district.provinceId">
              <a [routerLink]="['../province', district.provinceId  ]">{{district.provinceId}}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit"
                      [routerLink]="['detail', district.id ]"
                      class="btn btn-info btn-sm">
                <span class="fa fa-eye"></span>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <button type="submit"
                      [routerLink]="[ 'edit',district.id]"
                      replaceUrl="true"
                      queryParamsHandling="merge"
                      class="btn btn-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button type="submit"
                      [routerLink]="['delete',district.id]"
                      replaceUrl="true"
                      queryParamsHandling="merge"
                      class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

