


<form name="editForm" role="form" class="form-horizontal" novalidate (ngSubmit)="save()" #editForm="ngForm">
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.district.home.createOrEditLabel">Create or edit a District</strong>
    </div>
    <div class="card-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.code" for="field_code">Code</label>
                    <div class="col-md-4">
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="district.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    </div>
                  <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.name" for="field_name">Name</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="district.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">

                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.pickupActive" for="field_pickupActive">Pickup Active</label>
                    <div class="col-md-4">
                      <label class="switch switch-3d switch-success">
                        <input type="checkbox" class="switch-input" name="pickupActive" id="field_pickupActive"
                               [(ngModel)]="district.pickupActive" />
                        <span class="switch-slider"></span>
                      </label>
                    <div [hidden]="!(editForm.controls.pickupActive?.dirty && editForm.controls.pickupActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pickupActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    </div>
                  <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.deliveryActive" for="field_deliveryActive">Delivery Active</label>
                  <div class="col-md-4">
                    <label class="switch switch-3d switch-success">
                      <input type="checkbox" class="switch-input" name="deliveryActive" id="field_deliveryActive"
                             [(ngModel)]="district.deliveryActive" />
                      <span class="switch-slider"></span>
                    </label>
                    <div [hidden]="!(editForm.controls.deliveryActive?.dirty && editForm.controls.deliveryActive?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.deliveryActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.province" for="field_province">Province</label>
                  <div class="col-md-4">
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="district.provinceId"  required>
                      <option *ngIf="!editForm.value.province" [ngValue]="null" selected></option>
                      <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.name}}</option>
                    </select>
                  </div>
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.districtType" for="field_districtType">District Type</label>
                    <div class="col-md-4">
                    <select class="form-control" id="field_districtType" name="districtType" [(ngModel)]="district.districtTypeId"  required>
                        <option *ngIf="!editForm.value.districtType" [ngValue]="null" selected></option>
                        <option [ngValue]="districtTypeOption.id" *ngFor="let districtTypeOption of districttypes; trackBy: trackDistrictTypeById">{{districtTypeOption.name}}</option>
                    </select>
                    </div>
                </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.district.description" for="field_description">Description</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="description" id="field_description"
                         [(ngModel)]="district.description" />
                </div>
              </div>
              <div [hidden]="!(editForm.controls.province?.dirty && editForm.controls.province?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.province?.errors?.required" jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
              </div>
                <div [hidden]="!(editForm.controls.districtType?.dirty && editForm.controls.districtType?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.districtType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <i class="fa fa-dot-circle-o"></i>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="reset" class="btn btn-danger" id="cancel-save" (click)="previousState()">
            <i class="fa fa-undo"></i>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
</form>
