<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="card">
        <div class="card-header">
            <strong jhiTranslate="nextlogixApp.orderServices.home.createOrEditLabel">Create or edit a Order Services</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="orderServices.id" readonly />
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.code" for="field_code">Code</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input type="text" [disabled]="orderServices.code" class="form-control" name="code" id="field_code" [(ngModel)]="orderServices.code" required/>
                            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.name" for="field_name">Name</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="orderServices.name" required/>
                            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.orderServicesType" for="field_orderServicesType">Order Services Type</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <select class="form-control" id="field_orderServicesType" name="orderServicesType" [(ngModel)]="orderServices.orderServicesTypeId"
                                required>
                                <option *ngIf="!editForm.value.orderServicesType" [ngValue]="null" selected></option>
                                <option [ngValue]="orderServicesTypeOption.id" *ngFor="let orderServicesTypeOption of orderservicestypes; trackBy: trackOrderServicesTypeById">{{orderServicesTypeOption.name}}</option>
                            </select>
                            <div [hidden]="!(editForm.controls.orderServicesType?.dirty && editForm.controls.orderServicesType?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.orderServicesType?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label jhiTranslate="nextlogixApp.orderServices.quotation" for="field_quotation">Quotation</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <ng-select [items]="quotations" [multiple]="true" class="bootstrap" bindLabel="description" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="orderServices.quotations">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.description" for="field_description">Description</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="orderServices.description"
                            />
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i>&nbsp;
                        <span jhiTranslate="entity.action.save">Save</span>
                    </button>
                    <button type="button" id="cancel-save" class="btn btn-danger" (click)="previousState()">
                        <i class="fa fa-undo"></i>&nbsp;
                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
</form>