


<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.orderServices.home.createOrEditLabel">Create or edit a Order Services</strong>
    </div>
    <div class="card-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orderServices.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderServices.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="orderServices.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="orderServices.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="orderServices.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nextlogixApp.orderServices.orderServicesType" for="field_orderServicesType">Order Services Type</label>
                    <select class="form-control" id="field_orderServicesType" name="orderServicesType" [(ngModel)]="orderServices.orderServicesTypeId"  required>
                        <option *ngIf="!editForm.value.orderServicesType" [ngValue]="null" selected></option>
                        <option [ngValue]="orderServicesTypeOption.id" *ngFor="let orderServicesTypeOption of orderservicestypes; trackBy: trackOrderServicesTypeById">{{orderServicesTypeOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.orderServicesType?.dirty && editForm.controls.orderServicesType?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderServicesType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label jhiTranslate="nextlogixApp.orderServices.quotation" for="field_quotation">Quotation</label>
                    <select class="form-control" id="field_quotation" multiple name="quotation" [(ngModel)]="orderServices.quotations">
                        <option [ngValue]="getSelected(orderServices.quotations, quotationOption)" *ngFor="let quotationOption of quotations; trackBy: trackQuotationById">{{quotationOption.id}}</option>
                    </select>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</div>
</form>
