
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_code"
                       jhiTranslate="nextlogixApp.orderServices.code">Code:</label>
                <div class="col-md-4">

                    <input type="text" class="form-control" name="code" id="field_code"
                           [(ngModel)]="orderServicesSearch.code" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_name"
                       jhiTranslate="nextlogixApp.orderServices.name">Name:</label>
                <div class="col-md-4">

                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="orderServicesSearch.name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_description"
                       jhiTranslate="nextlogixApp.orderServices.description">Description:</label>
                <div class="col-md-4">

                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="orderServicesSearch.description" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_orderServicesType"
                       jhiTranslate="nextlogixApp.orderServices.orderServicesType">>Order Services Type:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_orderServicesType" name="orderServicesType" [(ngModel)]="orderServicesSearch.orderServicesTypeId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="orderServicesTypeOption.id" *ngFor="let orderServicesTypeOption of orderservicestypes; trackBy: trackOrderServicesTypeById">{{orderServicesTypeOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_quotation"
                       jhiTranslate="nextlogixApp.orderServices.quotation">>Quotation:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_quotation" name="quotation" [(ngModel)]="orderServicesSearch.quotationId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="quotationOption.id" *ngFor="let quotationOption of quotations; trackBy: trackQuotationById">{{quotationOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.orderServices.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="orderServices">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="code"><span jhiTranslate="nextlogixApp.orderServices.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="name"><span jhiTranslate="nextlogixApp.orderServices.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="nextlogixApp.orderServices.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="orderServicesTypeId"><span jhiTranslate="nextlogixApp.orderServices.orderServicesType">Order Services Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="quotationId"><span jhiTranslate="nextlogixApp.orderServices.quotation">Quotation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderServices of orderServices ;trackBy: trackId">
                    <td><a [routerLink]="[ orderServices.id,'view']">{{orderServices.id}}</a></td>
                    <td>{{orderServices.code}}</td>
                    <td>{{orderServices.name}}</td>
                    <td>{{orderServices.description}}</td>
                    <td>
        <div *ngIf="orderServices.orderServicesTypeId">
        <a [routerLink]="['../order-services-type', 'detail',orderServices.orderServicesTypeId ]" >{{orderServices.orderServicesTypeDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="orderServices.quotationId">
        <a [routerLink]="['../quotation', 'detail',orderServices.quotationId ]" >{{orderServices.quotationDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[orderServices.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[orderServices.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(orderServices.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="orderServices && orderServices.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


