
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotationPickup.home.title">Kết quả tìm kiếm</strong>
        <div class="card-header-actions">
            <button type="button" class="btn btn-primary btn-warning pull-right"  (click)="createDetailForm()">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>

        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="quotationPickups">
            <table class="table table-striped">
                <thead>
                <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationPickup.amount">Amount</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationPickup.company">Company</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationPickup.province">Province</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationPickup.districtType">District Type</span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let quotationPickup of quotationPickups ;trackBy: trackId">
                    <td><a [routerLink]="[ quotationPickup.id,'view']">{{quotationPickup.id}}</a></td>
                    <td>{{quotationPickup.amount}}</td>
                    <td>
        <div *ngIf="quotationPickup.companyId">
        <a [routerLink]="['../company', 'detail',quotationPickup.companyId ]" >{{quotationPickup.companyDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="quotationPickup.provinceId">
        <a [routerLink]="['../province', 'detail',quotationPickup.provinceId ]" >{{quotationPickup.provinceDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="quotationPickup.districtTypeId">
        <a [routerLink]="['../district-type', 'detail',quotationPickup.districtTypeId ]" >{{quotationPickup.districtTypeDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">

            <button type="button"
                    (click)="editDetailForm(quotationPickup.id)"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button type="button" (click)="deleteDetailForm(quotationPickup.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>


</div>


