<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myQuotationReturnLabel" jhiTranslate="nextlogixApp.quotationReturn.home.createOrEditLabel">Create or edit a Quotation Return</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!quotationReturn.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="quotationReturn.id" readonly />
            </div>
            
            <div class="col-md-6 col-xs-12 form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label class="form-control-label" jhiTranslate="nextlogixApp.quotationReturn.feePercent" for="field_feePercent">Fee Percent</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="number" class="form-control" name="feePercent" id="field_feePercent" [(ngModel)]="quotationReturn.feePercent"
                            required/>
                        <div [hidden]="!(editForm.controls.feePercent?.dirty && editForm.controls.feePercent?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.feePercent?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.controls.feePercent?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xs-12 form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label class="form-control-label" jhiTranslate="nextlogixApp.quotationReturn.company" for="field_company">Company</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" id="field_company" name="company" [(ngModel)]="quotationReturn.companyId" required>
                            <option *ngIf="!editForm.value.company" [ngValue]="null" selected></option>
                            <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label class="form-control-label" jhiTranslate="nextlogixApp.quotationReturn.districtType" for="field_districtType">District Type</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" id="field_districtType" name="districtType" [(ngModel)]="quotationReturn.districtTypeId" required>
                            <option *ngIf="!editForm.value.districtType" [ngValue]="null" selected></option>
                            <option [ngValue]="districtTypeOption.id" *ngFor="let districtTypeOption of districttypes; trackBy: trackDistrictTypeById">{{districtTypeOption.name}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.districtType?.dirty && editForm.controls.districtType?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.districtType?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label class="form-control-label" jhiTranslate="nextlogixApp.quotationReturn.region" for="field_region">Region</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" id="field_region" name="region" [(ngModel)]="quotationReturn.regionId" required>
                            <option *ngIf="!editForm.value.region" [ngValue]="null" selected></option>
                            <option [ngValue]="regionOption.id" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.region?.dirty && editForm.controls.region?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.region?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
