
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_name"
                       jhiTranslate="nextlogixApp.quotation.name">Name:</label>
                <div class="col-md-4">

                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="quotationSearch.name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_isActive"
                       jhiTranslate="nextlogixApp.quotation.isActive">Is Active:</label>
                <div class="col-md-4">

                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           [(ngModel)]="quotationSearch.isActive" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_description"
                       jhiTranslate="nextlogixApp.quotation.description">Description:</label>
                <div class="col-md-4">

                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="quotationSearch.description" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_createDate"
                       jhiTranslate="nextlogixApp.quotation.createDate">Create Date:</label>
                <div class="col-md-4">

                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="quotationSearch.createDate"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_activeFrom"
                       jhiTranslate="nextlogixApp.quotation.activeFrom">Active From:</label>
                <div class="col-md-4">

                    <div class="input-group">
                        <input id="field_activeFrom" type="text" class="form-control" name="activeFrom" ngbDatepicker  #activeFromDp="ngbDatepicker" [(ngModel)]="quotationSearch.activeFrom"
                        required/>
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="activeFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                    </span>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotation.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="quotations">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="name"><span jhiTranslate="nextlogixApp.quotation.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="isActive"><span jhiTranslate="nextlogixApp.quotation.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="nextlogixApp.quotation.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createDate"><span jhiTranslate="nextlogixApp.quotation.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="activeFrom"><span jhiTranslate="nextlogixApp.quotation.activeFrom">Active From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let quotation of quotations ;trackBy: trackId">
                    <td><a [routerLink]="[ quotation.id,'view']">{{quotation.id}}</a></td>
                    <td>{{quotation.name}}</td>
                    <td>{{quotation.isActive}}</td>
                    <td>{{quotation.description}}</td>
                    <td>{{quotation.createDate | date:'medium'}}</td>
                    <td>{{quotation.activeFrom | date:'mediumDate'}}</td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[quotation.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[quotation.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(quotation.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="quotations && quotations.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


