


<form name="editForm" role="form" class="form-horizontal" novalidate (ngSubmit)="save()" #editForm="ngForm">
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotation.home.createOrEditLabel">Create or edit a Quotation</strong>
    </div>
    <div class="card-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quotation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quotation.id" readonly />
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotation.name" for="field_name">Name</label>
                    <div class="col-md-4">
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="quotation.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotation.isActive" for="field_isActive">Is Active</label>
                    <div class="col-md-4">
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="quotation.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotation.description" for="field_description">Description</label>
                    <div class="col-md-4">
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="quotation.description" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotation.createDate" for="field_createDate">Create Date</label>
                    <div class="col-md-4">
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createDate?.dirty && editForm.controls.createDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" jhiTranslate="nextlogixApp.quotation.activeFrom" for="field_activeFrom">Active From</label>
                    <div class="col-md-4">
                    <div class="input-group">
                        <input id="field_activeFrom" type="text" class="form-control" name="activeFrom" ngbDatepicker  #activeFromDp="ngbDatepicker" [(ngModel)]="quotation.activeFrom"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activeFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.activeFrom?.dirty && editForm.controls.activeFrom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activeFrom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    </div>
                </div>

            </div>
            <jhi-quotation-pickup-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-pickup-detail-list>
            <jhi-quotation-domestic-delivery-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-domestic-delivery-detail-list>
            <jhi-quotation-return-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-return-detail-list>
            <jhi-quotation-give-back-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-give-back-detail-list>
            <jhi-quotation-insurance-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-insurance-detail-list>
            <jhi-quotation-cod-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-cod-detail-list>
            <jhi-quotation-sub-services-detail-list [quotationParentId]="quotation.id" ></jhi-quotation-sub-services-detail-list>
    </div>
    <div class="card-footer">
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <i class="fa fa-dot-circle-o"></i>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="reset" class="btn btn-danger" id="cancel-save" (click)="previousState()">
            <i class="fa fa-undo"></i>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
</form>
