
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_code"
                       jhiTranslate="nextlogixApp.company.code">Code:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="code" id="field_code"
                           [(ngModel)]="companySearch.code" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_name"
                       jhiTranslate="nextlogixApp.company.name">Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="companySearch.name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_address"
                       jhiTranslate="nextlogixApp.company.address">Address:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="address" id="field_address"
                           [(ngModel)]="companySearch.address" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_phone"
                       jhiTranslate="nextlogixApp.company.phone">Phone:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           [(ngModel)]="companySearch.phone" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_email"
                       jhiTranslate="nextlogixApp.company.email">Email:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="email" id="field_email"
                           [(ngModel)]="companySearch.email" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_website"
                       jhiTranslate="nextlogixApp.company.website">Website:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="website" id="field_website"
                           [(ngModel)]="companySearch.website" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_description"
                       jhiTranslate="nextlogixApp.company.description">Description:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="companySearch.description" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_province"
                       jhiTranslate="nextlogixApp.company.province">>Province:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="companySearch.provinceId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_district"
                       jhiTranslate="nextlogixApp.company.district">>District:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_district" name="district" [(ngModel)]="companySearch.districtId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="districtOption.id" *ngFor="let districtOption of districts; trackBy: trackDistrictById">{{districtOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.company.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="companies">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="code"><span jhiTranslate="nextlogixApp.company.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="name"><span jhiTranslate="nextlogixApp.company.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="address"><span jhiTranslate="nextlogixApp.company.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="phone"><span jhiTranslate="nextlogixApp.company.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="email"><span jhiTranslate="nextlogixApp.company.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="website"><span jhiTranslate="nextlogixApp.company.website">Website</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="nextlogixApp.company.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="provinceId"><span jhiTranslate="nextlogixApp.company.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="districtId"><span jhiTranslate="nextlogixApp.company.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let company of companies ;trackBy: trackId">
                    <td><a [routerLink]="[ company.id,'view']">{{company.id}}</a></td>
                    <td>{{company.code}}</td>
                    <td>{{company.name}}</td>
                    <td>{{company.address}}</td>
                    <td>{{company.phone}}</td>
                    <td>{{company.email}}</td>
                    <td>{{company.website}}</td>
                    <td>{{company.description}}</td>
                    <td>
        <div *ngIf="company.provinceId">
        <a [routerLink]="['../province', 'detail',company.provinceId ]" >{{company.provinceDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="company.districtId">
        <a [routerLink]="['../district', 'detail',company.districtId ]" >{{company.districtDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[company.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[company.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(company.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="companies && companies.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


