
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_feePercent"
                       jhiTranslate="nextlogixApp.quotationReturn.feePercent">Fee Percent:</label>
                <div class="col-md-4">

                    <input type="number" class="form-control" name="feePercent" id="field_feePercent"
                           [(ngModel)]="quotationReturnSearch.feePercent" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_districtType"
                       jhiTranslate="nextlogixApp.quotationReturn.districtType">>District Type:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_districtType" name="districtType" [(ngModel)]="quotationReturnSearch.districtTypeId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="districtTypeOption.id" *ngFor="let districtTypeOption of districttypes; trackBy: trackDistrictTypeById">{{districtTypeOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_region"
                       jhiTranslate="nextlogixApp.quotationReturn.region">>Region:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_region" name="region" [(ngModel)]="quotationReturnSearch.regionId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="regionOption.id" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_quotationParent"
                       jhiTranslate="nextlogixApp.quotationReturn.quotationParent">>Quotation Parent:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_quotationParent" name="quotationParent" [(ngModel)]="quotationReturnSearch.quotationParentId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="quotationOption.id" *ngFor="let quotationOption of quotations; trackBy: trackQuotationById">{{quotationOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>

        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i><strong jhiTranslate="nextlogixApp.quotationReturn.home.title">Kết quả tìm kiếm</strong>
        <div class="card-header-actions">
           <button type="submit" class="btn btn-primary btn-warning" [routerLink]="[ 'new']">
               <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
           </button>
        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="quotationReturns">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="feePercent"><span jhiTranslate="nextlogixApp.quotationReturn.feePercent">Fee Percent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="districtTypeId"><span jhiTranslate="nextlogixApp.quotationReturn.districtType">District Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="regionId"><span jhiTranslate="nextlogixApp.quotationReturn.region">Region</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="quotationParentId"><span jhiTranslate="nextlogixApp.quotationReturn.quotationParent">Quotation Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let quotationReturn of quotationReturns ;trackBy: trackId">
                    <td><a [routerLink]="[ quotationReturn.id,'view']">{{quotationReturn.id}}</a></td>
                    <td>{{quotationReturn.feePercent}}</td>
                    <td>
        <div *ngIf="quotationReturn.districtTypeId">
        <a [routerLink]="['../district-type', 'detail',quotationReturn.districtTypeId ]" >{{quotationReturn.districtTypeDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="quotationReturn.regionId">
        <a [routerLink]="['../region', 'detail',quotationReturn.regionId ]" >{{quotationReturn.regionDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="quotationReturn.quotationParentId">
        <a [routerLink]="['../quotation', 'detail',quotationReturn.quotationParentId ]" >{{quotationReturn.quotationParentDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[quotationReturn.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-edit "></i>
            </button>
            <button (click)="deleteItem(quotationReturn.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-trash-o "></i>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="quotationReturns && quotationReturns.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>
