
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.customerSource.detail.title">Customer Source</span> {{customerSource.id}}
    </div>
    <div class="card-body">

<div *ngIf="customerSource">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.customerSource.code">Code</span></dt>
        <dd>
            <span>{{customerSource.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerSource.name">Name</span></dt>
        <dd>
            <span>{{customerSource.name}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerSource.description">Description</span></dt>
        <dd>
            <span>{{customerSource.description}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerSource.company">Company</span></dt>
        <dd>
            <div *ngIf="customerSource.companyId">
                <a [routerLink]="['/company', customerSource.companyId]">{{customerSource.companyId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'customer-source', customerSource.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
