
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_description"
                       jhiTranslate="nextlogixApp.detailForm.description">Description:</label>
                <div class="col-md-4">

                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="detailFormSearch.description" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_createDate"
                       jhiTranslate="nextlogixApp.detailForm.createDate">Create Date:</label>
                <div class="col-md-4">

                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="detailFormSearch.createDate"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_isActive"
                       jhiTranslate="nextlogixApp.detailForm.isActive">Is Active:</label>
                <div class="col-md-4">

                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           [(ngModel)]="detailFormSearch.isActive" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_province"
                       jhiTranslate="nextlogixApp.detailForm.province">>Province:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="detailFormSearch.provinceId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_district"
                       jhiTranslate="nextlogixApp.detailForm.district">>District:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_district" name="district" [(ngModel)]="detailFormSearch.districtId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="districtOption.id" *ngFor="let districtOption of districts; trackBy: trackDistrictById">{{districtOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_masterFormParent"
                       jhiTranslate="nextlogixApp.detailForm.masterFormParent">>Master Form Parent:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_masterFormParent" name="masterFormParent" [(ngModel)]="detailFormSearch.masterFormParentId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="masterFormOption.id" *ngFor="let masterFormOption of masterforms; trackBy: trackMasterFormById">{{masterFormOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.detailForm.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="detailForms">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="nextlogixApp.detailForm.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createDate"><span jhiTranslate="nextlogixApp.detailForm.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="uploadFile"><span jhiTranslate="nextlogixApp.detailForm.uploadFile">Upload File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="isActive"><span jhiTranslate="nextlogixApp.detailForm.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="provinceId"><span jhiTranslate="nextlogixApp.detailForm.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="districtId"><span jhiTranslate="nextlogixApp.detailForm.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="masterFormParentId"><span jhiTranslate="nextlogixApp.detailForm.masterFormParent">Master Form Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let detailForm of detailForms ;trackBy: trackId">
                    <td><a [routerLink]="[ detailForm.id,'view']">{{detailForm.id}}</a></td>
                    <td>{{detailForm.description}}</td>
                    <td>{{detailForm.createDate | date:'medium'}}</td>
                    <td>
                        <a *ngIf="detailForm.uploadFile" (click)="openFile(detailForm.uploadFileContentType, detailForm.uploadFile)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="detailForm.uploadFile">{{detailForm.uploadFileContentType}}, {{byteSize(detailForm.uploadFile)}}</span>
                    </td>
                    <td>{{detailForm.isActive}}</td>
                    <td>
        <div *ngIf="detailForm.provinceId">
        <a [routerLink]="['../province', 'detail',detailForm.provinceId ]" >{{detailForm.provinceDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="detailForm.districtId">
        <a [routerLink]="['../district', 'detail',detailForm.districtId ]" >{{detailForm.districtDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="detailForm.masterFormParentId">
        <a [routerLink]="['../master-form', 'detail',detailForm.masterFormParentId ]" >{{detailForm.masterFormParentDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[detailForm.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[detailForm.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(detailForm.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="detailForms && detailForms.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


