
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.customerServices.detail.title">Customer Services</span> {{customerServices.id}}
    </div>
    <div class="card-body">

<div *ngIf="customerServices">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.customerServices.discountPercent">Discount Percent</span></dt>
        <dd>
            <span>{{customerServices.discountPercent}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerServices.increasePercent">Increase Percent</span></dt>
        <dd>
            <span>{{customerServices.increasePercent}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerServices.decreasePercent">Decrease Percent</span></dt>
        <dd>
            <span>{{customerServices.decreasePercent}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerServices.orderServices">Order Services</span></dt>
        <dd>
            <div *ngIf="customerServices.orderServicesId">
                <a [routerLink]="['/order-services', customerServices.orderServicesId]">{{customerServices.orderServicesId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerServices.quotation">Quotation</span></dt>
        <dd>
            <div *ngIf="customerServices.quotationId">
                <a [routerLink]="['/quotation', customerServices.quotationId]">{{customerServices.quotationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerServices.customerParent">Customer Parent</span></dt>
        <dd>
            <div *ngIf="customerServices.customerParentId">
                <a [routerLink]="['/customer', customerServices.customerParentId]">{{customerServices.customerParentId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'customer-services', customerServices.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
