
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotationGiveBack.home.title">Kết quả tìm kiếm</strong>
        <div class="card-header-actions">
            <button type="button" class="btn btn-primary btn-warning pull-right"  (click)="createDetailForm()">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>

        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="quotationGiveBacks">
            <table class="table table-striped">
                <thead>
                <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationGiveBack.feePercent">Fee Percent</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationGiveBack.company">Company</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationGiveBack.districtType">District Type</span></th>
                <th><span jhiTranslate="nextlogixApp.quotationGiveBack.region">Region</span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let quotationGiveBack of quotationGiveBacks ;trackBy: trackId">
                    <td><a [routerLink]="[ quotationGiveBack.id,'view']">{{quotationGiveBack.id}}</a></td>
                    <td>{{quotationGiveBack.feePercent}}</td>
                    <td>
        <div *ngIf="quotationGiveBack.companyId">
        <a [routerLink]="['../company', 'detail',quotationGiveBack.companyId ]" >{{quotationGiveBack.companyDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="quotationGiveBack.districtTypeId">
        <a [routerLink]="['../district-type', 'detail',quotationGiveBack.districtTypeId ]" >{{quotationGiveBack.districtTypeDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="quotationGiveBack.regionId">
        <a [routerLink]="['../region', 'detail',quotationGiveBack.regionId ]" >{{quotationGiveBack.regionDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">

            <button type="button"
                    (click)="editDetailForm(quotationGiveBack.id)"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button type="button" (click)="deleteDetailForm(quotationGiveBack.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>


</div>


