<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotationDomesticDelivery.home.title">Kết quả tìm kiếm</strong>
        <div class="card-header-actions">
            <button type="button" class="btn btn-primary btn-warning pull-right" (click)="createDetailForm()">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>

        </div>
    </div>
    <div class="card-body">

        <div *ngIf="quotationDomesticDeliveries">
            <table class="table table-striped table-bordered datatable">
                <thead>
                    <tr>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationDomesticDelivery.amount">Amount</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationDomesticDelivery.company">Company</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationDomesticDelivery.districtType">District Type</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationDomesticDelivery.region">Region</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationDomesticDelivery.weight">Weight</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let quotationDomesticDelivery of quotationDomesticDeliveries ;trackBy: trackId">
                        <td>{{quotationDomesticDelivery.amount}}</td>
                        <td>
                            <div *ngIf="quotationDomesticDelivery.companyId">
                                <a [routerLink]="['../company', 'detail',quotationDomesticDelivery.companyId ]">{{quotationDomesticDelivery.companyDTO?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="quotationDomesticDelivery.districtTypeId">
                                <a [routerLink]="['../district-type', 'detail',quotationDomesticDelivery.districtTypeId ]">{{quotationDomesticDelivery.districtTypeDTO?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="quotationDomesticDelivery.regionId">
                                <a [routerLink]="['../region', 'detail',quotationDomesticDelivery.regionId ]">{{quotationDomesticDelivery.regionDTO?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="quotationDomesticDelivery.weightId">
                                <a [routerLink]="['../weight', 'detail',quotationDomesticDelivery.weightId ]">{{quotationDomesticDelivery.weightDTO?.name}}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <button type="button" (click)="editDetailForm(quotationDomesticDelivery.id)" class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="button" (click)="deleteDetailForm(quotationDomesticDelivery.id)" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>