<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="card">
        <div class="card-header">
            <strong jhiTranslate="nextlogixApp.customerPayment.home.createOrEditLabel">Create or edit a Customer Payment</strong>
        </div>
        <div class="card-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.accountNumber" for="field_accountNumber">Account Number</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" class="form-control" name="accountNumber" id="field_accountNumber" [(ngModel)]="customerPayment.accountNumber">

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.accountName" for="field_accountName">Account Name</label>

                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" class="form-control" name="accountName" id="field_accountName" [(ngModel)]="customerPayment.accountName"
                                required/>
                            <div [hidden]="!(editForm.controls.accountName?.dirty && editForm.controls.accountName?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.accountName?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.bank" for="field_bank">Bank</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <select class="form-control" id="field_bank" name="bank" [(ngModel)]="customerPayment.bankId" required>
                                <option *ngIf="!editForm.value.bank" [ngValue]="null" selected></option>
                                <option [ngValue]="bankOption.id" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.name}}</option>
                            </select>
                            <div [hidden]="!(editForm.controls.bank?.dirty && editForm.controls.bank?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.bank?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.branchName" for="field_branchName">Branch Name</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" class="form-control" name="branchName" id="field_branchName" [(ngModel)]="customerPayment.branchName">
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.paymentType" for="field_paymentType">Payment Type</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <select class="form-control" id="field_paymentType" name="paymentType" [(ngModel)]="customerPayment.paymentTypeId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="paymentTypeOption.id" *ngFor="let paymentTypeOption of paymenttypes; trackBy: trackPaymentTypeById">{{paymentTypeOption.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.paymentAmountMoney" for="field_paymentAmountMoney">Payment Amount Money</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input type="number" class="form-control" name="paymentAmountMoney" id="field_paymentAmountMoney" [(ngModel)]="customerPayment.paymentAmountMoney">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.idImage" for="field_idImage">Id Image</label>

                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="btn-group flex-btn-group-container">
                                <label class="btn btn-primary btn-sm pull-left flex-center-text mb-0">
                                    Browse
                                    <input style="display: none" type="file" id="file_idImage" (change)="setFileData($event, customerPayment, 'idImage', false)"
                                        jhiTranslate="entity.action.addblob">
                                </label>
                                <a *ngIf="customerPayment.idImage" class="btn btn-success btn-sm pull-left flex-center-text" (click)="openFile(customerPayment.idImageContentType, customerPayment.idImage)">
                                    <span class="white-text">{{'entity.action.open'| translate}}</span>
                                </a>
                                <button *ngIf="customerPayment.idImage" type="button" (click)="customerPayment.idImage=null;customerPayment.idImageContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                    <i class=" fa fa-times"></i>
                                </button>
                            </div>
                            <input type="hidden" class="form-control" name="idImage" id="field_idImage" [(ngModel)]="customerPayment.idImage">
                            <input type="hidden" class="form-control" name="idImageContentType" id="field_idImageContentType" [(ngModel)]="customerPayment.idImageContentType">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.isVerify" for="field_isVerify">Is Verify</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <span class="badge badge-success" *ngIf="customerPayment.isVerify">{{'nextlogixApp.customerPayment.verified' | translate}}</span>
                            <span class="badge badge-danger" *ngIf="!customerPayment.isVerify">{{'nextlogixApp.customerPayment.notVerified' | translate}}</span>
                            <button class="btn btn-primary pull-right" *ngIf="customerPayment.id &&  !customerPayment.isVerify" (click)="verifyData()">
                                Verification
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.userVerify" for="field_userVerify">User Verify</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input id="field_userVerify" type="text" class="form-control" name="userVerify" [ngModel]="customerPayment.userVerifyId | filter : userextrainfos : 'id': 'name'"
                                disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label class="form-control-label" jhiTranslate="nextlogixApp.customerPayment.dateVerify" for="field_dateVerify">Date Verify</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input id="field_dateVerify" type="datetime-local" class="form-control" name="dateVerify" [ngModel]="dateVerify" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer btn-group flex-btn-group-container">
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</form>