
<form name="searchForm" class="form-horizontal" (ngSubmit)="searchInForm()">
    <div class="card ">
        <div class="card-header">
            <i class="fa fa-filter"></i>
            <strong jhiTranslate="common.filter.header">Filter</strong>
            <div class="card-header-actions">

                <a class="card-header-action btn-minimize" (click)="searchCardIsCollapsed = !searchCardIsCollapsed"
                   [attr.aria-expanded]="!searchCardIsCollapsed" aria-controls="searchCard">
                    <i class="icon-arrow-up"></i>
                </a>

            </div>
        </div>

        <div class="card-body " id="searchCard" [ngbCollapse]="searchCardIsCollapsed">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_branchName"
                       jhiTranslate="nextlogixApp.customerPayment.branchName">Branch Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="branchName" id="field_branchName"
                           [(ngModel)]="customerPaymentSearch.branchName" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_accountNumber"
                       jhiTranslate="nextlogixApp.customerPayment.accountNumber">Account Number:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                           [(ngModel)]="customerPaymentSearch.accountNumber" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_accountName"
                       jhiTranslate="nextlogixApp.customerPayment.accountName">Account Name:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                           [(ngModel)]="customerPaymentSearch.accountName" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_cardNumber"
                       jhiTranslate="nextlogixApp.customerPayment.cardNumber">Card Number:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="cardNumber" id="field_cardNumber"
                           [(ngModel)]="customerPaymentSearch.cardNumber" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_paymentAmountMoney"
                       jhiTranslate="nextlogixApp.customerPayment.paymentAmountMoney">Payment Amount Money:</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="paymentAmountMoney" id="field_paymentAmountMoney"
                           [(ngModel)]="customerPaymentSearch.paymentAmountMoney" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_isVerify"
                       jhiTranslate="nextlogixApp.customerPayment.isVerify">Is Verify:</label>
                <div class="col-md-4">
                    <input type="checkbox" class="form-control" name="isVerify" id="field_isVerify"
                           [(ngModel)]="customerPaymentSearch.isVerify" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_dateVerify"
                       jhiTranslate="nextlogixApp.customerPayment.dateVerify">Date Verify:</label>
                <div class="col-md-4">
                    <div class="d-flex">
                        <input id="field_dateVerify" type="datetime-local" class="form-control" name="dateVerify" [(ngModel)]="customerPaymentSearch.dateVerify"
                        />
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_company"
                       jhiTranslate="nextlogixApp.customerPayment.company">>Company:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="customerPaymentSearch.companyId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_bank"
                       jhiTranslate="nextlogixApp.customerPayment.bank">>Bank:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_bank" name="bank" [(ngModel)]="customerPaymentSearch.bankId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="bankOption.id" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_userVerify"
                       jhiTranslate="nextlogixApp.customerPayment.userVerify">>User Verify:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_userVerify" name="userVerify" [(ngModel)]="customerPaymentSearch.userVerifyId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="userExtraInfoOption.id" *ngFor="let userExtraInfoOption of userextrainfos; trackBy: trackUserExtraInfoById">{{userExtraInfoOption.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="field_paymentType"
                       jhiTranslate="nextlogixApp.customerPayment.paymentType">>Payment Type:</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_paymentType" name="paymentType" [(ngModel)]="customerPaymentSearch.paymentTypeId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="paymentTypeOption.id" *ngFor="let paymentTypeOption of paymenttypes; trackBy: trackPaymentTypeById">{{paymentTypeOption.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> {{'common.button.search' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="clear()">
                <i class="fa fa-undo"></i> {{'common.button.reset' |translate }}
            </button>
            <button type="reset" class="btn btn-primary btn-success">
                <i class="fa fa-file-excel-o"></i> {{'common.button.export.excel' |translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-warning pull-right" [routerLink]="[ 'new']">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.customerPayment.home.title">Kết quả tìm kiếm</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive" *ngIf="customerPayments">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="branchName"><span jhiTranslate="nextlogixApp.customerPayment.branchName">Branch Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="accountNumber"><span jhiTranslate="nextlogixApp.customerPayment.accountNumber">Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="accountName"><span jhiTranslate="nextlogixApp.customerPayment.accountName">Account Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="cardNumber"><span jhiTranslate="nextlogixApp.customerPayment.cardNumber">Card Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="paymentAmountMoney"><span jhiTranslate="nextlogixApp.customerPayment.paymentAmountMoney">Payment Amount Money</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="idImage"><span jhiTranslate="nextlogixApp.customerPayment.idImage">Id Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="isVerify"><span jhiTranslate="nextlogixApp.customerPayment.isVerify">Is Verify</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="dateVerify"><span jhiTranslate="nextlogixApp.customerPayment.dateVerify">Date Verify</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="companyId"><span jhiTranslate="nextlogixApp.customerPayment.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="bankId"><span jhiTranslate="nextlogixApp.customerPayment.bank">Bank</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="userVerifyId"><span jhiTranslate="nextlogixApp.customerPayment.userVerify">User Verify</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="paymentTypeId"><span jhiTranslate="nextlogixApp.customerPayment.paymentType">Payment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let customerPayment of customerPayments ;trackBy: trackId">
                    <td><a [routerLink]="[ customerPayment.id,'view']">{{customerPayment.id}}</a></td>
                    <td>{{customerPayment.branchName}}</td>
                    <td>{{customerPayment.accountNumber}}</td>
                    <td>{{customerPayment.accountName}}</td>
                    <td>{{customerPayment.cardNumber}}</td>
                    <td>{{customerPayment.paymentAmountMoney}}</td>
                    <td>
                        <a *ngIf="customerPayment.idImage" (click)="openFile(customerPayment.idImageContentType, customerPayment.idImage)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="customerPayment.idImage">{{customerPayment.idImageContentType}}, {{byteSize(customerPayment.idImage)}}</span>
                    </td>
                    <td>{{customerPayment.isVerify}}</td>
                    <td>{{customerPayment.dateVerify | date:'medium'}}</td>
                    <td>
        <div *ngIf="customerPayment.companyId">
        <a [routerLink]="['../company', 'detail',customerPayment.companyId ]" >{{customerPayment.companyDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customerPayment.bankId">
        <a [routerLink]="['../bank', 'detail',customerPayment.bankId ]" >{{customerPayment.bankDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customerPayment.userVerifyId">
        <a [routerLink]="['../user-extra-info', 'detail',customerPayment.userVerifyId ]" >{{customerPayment.userVerifyDTO?.name}}</a>
    </div>
    </td>
                    <td>
        <div *ngIf="customerPayment.paymentTypeId">
        <a [routerLink]="['../payment-type', 'detail',customerPayment.paymentTypeId ]" >{{customerPayment.paymentTypeDTO?.name}}</a>
    </div>
    </td>
    <td class="text-right">
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="[customerPayment.id,'view' ]"
                    class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button type="submit"
                    [routerLink]="[customerPayment.id,'edit']"
                    class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="deleteItem(customerPayment.id)"
                    class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div *ngIf="customerPayments && customerPayments.length" class="card-footer">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

</div>


