
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.customerPayment.detail.title">Customer Payment</span> {{customerPayment.id}}
    </div>
    <div class="card-body">

<div *ngIf="customerPayment">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.customerPayment.branchName">Branch Name</span></dt>
        <dd>
            <span>{{customerPayment.branchName}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.accountNumber">Account Number</span></dt>
        <dd>
            <span>{{customerPayment.accountNumber}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.accountName">Account Name</span></dt>
        <dd>
            <span>{{customerPayment.accountName}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.cardNumber">Card Number</span></dt>
        <dd>
            <span>{{customerPayment.cardNumber}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.paymentAmountMoney">Payment Amount Money</span></dt>
        <dd>
            <span>{{customerPayment.paymentAmountMoney}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.idImage">Id Image</span></dt>
        <dd>
            <div *ngIf="customerPayment.idImage">
                <a (click)="openFile(customerPayment.idImageContentType, customerPayment.idImage)" jhiTranslate="entity.action.open">open</a>
                {{customerPayment.idImageContentType}}, {{byteSize(customerPayment.idImage)}}
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.isVerify">Is Verify</span></dt>
        <dd>
            <span>{{customerPayment.isVerify}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.dateVerify">Date Verify</span></dt>
        <dd>
            <span>{{customerPayment.dateVerify | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.company">Company</span></dt>
        <dd>
            <div *ngIf="customerPayment.companyId">
                <a [routerLink]="['/company', customerPayment.companyId]">{{customerPayment.companyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.bank">Bank</span></dt>
        <dd>
            <div *ngIf="customerPayment.bankId">
                <a [routerLink]="['/bank', customerPayment.bankId]">{{customerPayment.bankId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.userVerify">User Verify</span></dt>
        <dd>
            <div *ngIf="customerPayment.userVerifyId">
                <a [routerLink]="['/user-extra-info', customerPayment.userVerifyId]">{{customerPayment.userVerifyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.customerPayment.paymentType">Payment Type</span></dt>
        <dd>
            <div *ngIf="customerPayment.paymentTypeId">
                <a [routerLink]="['/payment-type', customerPayment.paymentTypeId]">{{customerPayment.paymentTypeId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'customer-payment', customerPayment.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
