
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.region.detail.title">Region</span> {{region.id}}
    </div>
    <div class="card-body">

<div *ngIf="region">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.region.code">Code</span></dt>
        <dd>
            <span>{{region.code}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.region.name">Name</span></dt>
        <dd>
            <span>{{region.name}}</span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.region.description">Description</span></dt>
        <dd>
            <span>{{region.description}}</span>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'region', region.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
