<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserPostOfficeLabel" jhiTranslate="nextlogixApp.userPostOffice.home.createOrEditLabel">Create or edit a User Post Office</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userPostOffice.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userPostOffice.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userPostOffice.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="userPostOffice.companyId"  required>
                <option *ngIf="!editForm.value.company" [ngValue]="null" selected></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userPostOffice.postOffice" for="field_postOffice">Post Office</label>
            <select class="form-control" id="field_postOffice" name="postOffice" [(ngModel)]="userPostOffice.postOfficeId"  required>
                <option *ngIf="!editForm.value.postOffice" [ngValue]="null" selected></option>
                <option [ngValue]="postOfficeOption.id" *ngFor="let postOfficeOption of postoffices; trackBy: trackPostOfficeById">{{postOfficeOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.postOffice?.dirty && editForm.controls.postOffice?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.postOffice?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="nextlogixApp.userPostOffice.userGroup" for="field_userGroup">User Group</label>
            <select class="form-control" id="field_userGroup" multiple name="userGroup" [(ngModel)]="userPostOffice.userGroups" required>
                <option [ngValue]="getSelected(userPostOffice.userGroups, userGroupOption)" *ngFor="let userGroupOption of usergroups; trackBy: trackUserGroupById">{{userGroupOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userGroup?.dirty && editForm.controls.userGroup?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userGroup?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
