<div class="card">
    <div class="card-header">
        <strong jhiTranslate="nextlogixApp.quotationInsurance.home.title">Kết quả tìm kiếm</strong>
        <div class="card-header-actions">
            <button type="button" class="btn btn-primary btn-warning pull-right" (click)="createDetailForm()">
                <i class="fa fa-plus-circle"></i> {{'common.button.create' |translate }}
            </button>

        </div>
    </div>
    <div class="card-body">

        <div *ngIf="quotationInsurances">
            <table class="table table-striped table-bordered datatable">
                <thead>
                    <tr>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.amountFrom">Amount From</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.amountTo">Amount To</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.feeAmountMin">Fee Amount Min</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.feeAmountMax">Fee Amount Max</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.feePercent">Fee Percent</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.company">Company</span>
                        </th>
                        <th>
                            <span jhiTranslate="nextlogixApp.quotationInsurance.districtType">District Type</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let quotationInsurance of quotationInsurances ;trackBy: trackId">
                        <td>{{quotationInsurance.amountFrom}}</td>
                        <td>{{quotationInsurance.amountTo}}</td>
                        <td>{{quotationInsurance.feeAmountMin}}</td>
                        <td>{{quotationInsurance.feeAmountMax}}</td>
                        <td>{{quotationInsurance.feePercent}}</td>
                        <td>
                            <div *ngIf="quotationInsurance.companyId">
                                <a [routerLink]="['../company', 'detail',quotationInsurance.companyId ]">{{quotationInsurance.companyDTO?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="quotationInsurance.districtTypeId">
                                <a [routerLink]="['../district-type', 'detail',quotationInsurance.districtTypeId ]">{{quotationInsurance.districtTypeDTO?.name}}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <button type="button" (click)="editDetailForm(quotationInsurance.id)" class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="button" (click)="deleteDetailForm(quotationInsurance.id)" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>