<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserPositionLabel" jhiTranslate="nextlogixApp.userPosition.home.createOrEditLabel">Create or edit a User Position</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userPosition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userPosition.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userPosition.postOffice" for="field_postOffice">Post Office</label>
            <select class="form-control" id="field_postOffice" name="postOffice" [(ngModel)]="userPosition.postOfficeId"  required>
                <option *ngIf="!editForm.value.postOffice" [ngValue]="null" selected></option>
                <option [ngValue]="postOfficeOption.id" *ngFor="let postOfficeOption of postoffices; trackBy: trackPostOfficeById">{{postOfficeOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.postOffice?.dirty && editForm.controls.postOffice?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.postOffice?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userPosition.position" for="field_position">Position</label>
            <select class="form-control" id="field_position" name="position" [(ngModel)]="userPosition.positionId"  required>
                <option *ngIf="!editForm.value.position" [ngValue]="null" selected></option>
                <option [ngValue]="positionOption.id" *ngFor="let positionOption of positions; trackBy: trackPositionById">{{positionOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.position?.dirty && editForm.controls.position?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.position?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nextlogixApp.userPosition.userExtraInfo" for="field_userExtraInfo">User Extra Info</label>
            <select class="form-control" id="field_userExtraInfo" name="userExtraInfo" [(ngModel)]="userPosition.userExtraInfoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userExtraInfoOption.id" *ngFor="let userExtraInfoOption of userextrainfos; trackBy: trackUserExtraInfoById">{{userExtraInfoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
