
<div class="card ">
    <div class="card-header">
        <span jhiTranslate="nextlogixApp.userPosition.detail.title">User Position</span> {{userPosition.id}}
    </div>
    <div class="card-body">

<div *ngIf="userPosition">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nextlogixApp.userPosition.company">Company</span></dt>
        <dd>
            <div *ngIf="userPosition.companyId">
                <a [routerLink]="['/company', userPosition.companyId]">{{userPosition.companyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userPosition.postOffice">Post Office</span></dt>
        <dd>
            <div *ngIf="userPosition.postOfficeId">
                <a [routerLink]="['/post-office', userPosition.postOfficeId]">{{userPosition.postOfficeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userPosition.position">Position</span></dt>
        <dd>
            <div *ngIf="userPosition.positionId">
                <a [routerLink]="['/position', userPosition.positionId]">{{userPosition.positionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userPosition.userGroup">User Group</span></dt>
        <dd>
            <span *ngFor="let userGroup of userPosition.userGroups; let last = last">
                <a [routerLink]="['/user-group', userGroup?.id ]">{{userGroup.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="nextlogixApp.userPosition.userExtraInfo">User Extra Info</span></dt>
        <dd>
            <div *ngIf="userPosition.userExtraInfoId">
                <a [routerLink]="['/user-extra-info', userPosition.userExtraInfoId]">{{userPosition.userExtraInfoId}}</a>
            </div>
        </dd>
    </dl>


</div>
</div>
<div class="card-footer">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['../../', 'user-position', userPosition.id , 'edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
